.component {
  z-index: 900;

  position: absolute;
  top: 0;

  display: flex;
  flex-flow: row nowrap;

  inline-size: 100vw;

  border: 1px solid black;

  @media (min-width: 501px) and (max-width: 800px) {
    border: 1px solid red;
  }

  @media (min-width: 801px) {
    nav {
      inline-size: 50vw;

      ul {
        display: flex;
        flex-flow: row nowrap;
        gap: 5vw;

        inline-size: 100%;
      }
    }
  }

  @media (min-width: 801px) and (max-width: 1280px) {
    border: 1px solid blue;
  }

  @media (min-width: 1281px) {
    border: 1px solid green;
  }
}

.menu {
  z-index: 990;

  position: absolute;
  top: 0;
  right: 0;

  inline-size: 100vw;
  block-size: 100vh;

  opacity: 0;
  background-color: aqua;

  ul {
    inline-size: 100%;
    block-size: 100%;
    padding: 10vh 10vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    gap: 5vh;
  }

  @media (min-width: 501px) and (max-width: 800px) {
    border: 1px solid red;
  }
}
